*{
  margin: 0;
  padding: 0;
  font-family: "Dm serif text";
}
#hero-section{
  width: 100%;
  height: 600px;
  background-color: #1b0b00;
  color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
   background-image: url(images/coffee3.jpg);
  background-repeat: no-repeat;
  background-position:600px -200px;
  background-size: 60%;
}

#hero-section nav{
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border: 1px solid wheat;
  margin: 30px;
  box-sizing: border-box;
}

#hero-section nav .menu-bar{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
}
#hero-section nav .logo{
  color: white;
}
#hero-section nav .menu-bar li a,
#hero-section nav a{
  color: wheat;
  text-decoration: none;
  transition: .5s ease;
}
#hero-section nav .menu-bar li a:hover,
#hero-section nav a:hover{
 letter-spacing: 2px;
 border-bottom: 1px solid wheat;
}
#hero-section nav .logo h1 a:hover{
  letter-spacing: 0;
  border-bottom: none;
}
.search-icon{
  width: 20px;
  height: 20px;
  color: wheat;
  cursor: pointer;
}
.search-icon path{
  transition:stroke-width .5s ease;
}
.search-icon:hover path{
  stroke-width:4;
  
}
.hr{
  width: 1px;
  height: 25px;
  background-color: wheat;
}
.signin-search{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

#hero-section .cta-heroimage{
  width: 100%;
  max-width: 1100px;
  color: white;
}
#hero-section .cta-heroimage .text{
  width: 40%;
}
#hero-section .cta-heroimage .cta{
  font-size: 60px;
  width: 100%;
  line-height: 110%;
  margin-bottom: 20px;
}

#hero-section .cta-heroimage p{
  font-size: 20px;
  margin-bottom: 5cqh;
}
#hero-section .cta-heroimage .links{
  display: flex;
  align-items: center;
  gap: 10px;
}
#hero-section .cta-heroimage .order{
  text-decoration: none;
  background-color: white;
  padding: 20px;
  color: #1b0b00;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 120px;
  height: 10px;
  transition: 0.5s ease;
}
#hero-section .cta-heroimage .order:hover{
  gap: 20px;
  background-color: rgb(211, 211, 211);
}
#hero-section .cta-heroimage .explore{
  text-decoration: none;
  color: white;
  padding: 20px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  width: 120px;
  height: 10px;
  transition: 0.5s ease;
}
#hero-section .cta-heroimage .explore:hover{
   background-color: white;
   color: #1b0b00;
}
#hero-section .cta-heroimage .image{
  img{
    width: 1000px;
    
  }
}