*{
  margin: 0;
  padding: 0;
  font-family: "Dm serif text";
}
#hero-section{
  width: 100%;
  height: 600px;
  background-color: #1b0b00;
  color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero-section nav{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid wheat;
  margin: 10px;
  box-sizing: border-box;
}

#hero-section nav .menu-bar{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
}

#hero-section nav .menu-bar li a,
#hero-section nav a{
  color: wheat;
  text-decoration: none;
}

.search-icon{
  width: 20px;
  height: 20px;
  color: wheat;
}

.hr{
  width: 1px;
  height: 25px;
  background-color: wheat;
}
.signin-search{
  display: flex;
  flex-direction: row;
  gap: 5px;
}
